@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


@theme inline {
  --color-ristek-purple: #5D49D0;
  --color-ristek-dark: #1A1A1A;
  --color-ristek-light: #F8F9FA;

  --color-primary: #5D49D0; 
  --color-primary-foreground: #ffffff;

  --radius-ristek: 20px;
  --radius-xl: 24px;
  --radius-2xl: 32px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --primary: #5D49D0; 
  --primary-foreground: #ffffff;
  
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
}